// variable desktop breakpoint
$desktop-breakpoint: 768px;
$desktop-small-breakpoint: 900px;

// color palette

$background-color: #0d001a; // Custom dark purple background
$primary-color: #bb86fc; // Custom primary color
$container-border-radius: 12px;

$text-primary-color: white;
$text-secondary-color: #b3b3b3;
